---
import { getImage } from "@astrojs/image";
import { META } from "~/config.mjs";
import { getRelativeUrlByFilePath } from "~/utils/getRelativeUrlByFilePath";

const { src: defaultImage } = await getImage({
  src: import("~/assets/images/default.png"),
  width: 1200,
  height: 628,
});

const { image: _image = defaultImage } = Astro.props;

const image =
  typeof _image === "string"
    ? new URL(_image, Astro.site)
    : _image && typeof _image["src"] !== "undefined"
    ? new URL(getRelativeUrlByFilePath(_image.src), Astro.site)
    : null;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<title>{META.title}</title>
<meta name="description" content={META.description} />
{META.canonical && <link rel="canonical" href={META.canonical} />}

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content={META.title} />
<meta itemprop="description" content={META.description} />
{image && <meta itemprop="image" content={image} />}

<!-- Facebook Meta Tags -->
{META.canonical && <meta property="og:url" content={META.canonical} />}
<meta property="og:type" content="website" />
<meta property="og:title" content={META.title} />
<meta property="og:description" content={META.description} />
{image && <meta property="og:image" content={image} />}

<!-- Twitter Meta Tags -->
{META.canonical && <meta name="twitter:url" content={META.canonical} />}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={META.title} />
<meta name="twitter:description" content={META.description} />
{image && <meta name="twitter:image" content={image} />}

<!-- Fonts -->
<link
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap"
  rel="stylesheet"
/>

<!-- Google Site Verification -->
<meta
  name="google-site-verification"
  content="orcPxI47GSa-cRvY11tUe6iGg2IO_RPvnA1q95iEM3M"
/>
